:root {
    --Athiti: 'Athiti', sans-serif;
    --Oleo: 'Oleo Script', cursive;
    --holidays: #99b898;
    --birthdays: #f8b195;
    --personal: #7a42ac;
    --work: #457892;
    --school: #f7aa00;
    --other: #a70013;
    --maybe: #5c5470;
    --maybe2: #a2a8d3;
    --dark: #3a3a3d;
}

nav {
    font-family: var(--Oleo);
}

body {
    background-color: var(--dark);
}

#calendar-container {
    margin-left: 2%;
}

#hungry {
    background-color: var(--maybe2);
    /* background-color: #ea8a8a; */
}

#month {
    font-family: var(--Oleo);
}

.btnOne:hover {
    color: var(--maybe2);
}

#currentDay {
    background-color: var(--maybe);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 25%;
    min-width: 35px;
    min-height: 35px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 20px;
}

#currentDay:hover {
    color: var(--maybe2);
}

#day-names {
    font-family: var(--Athiti);
}

.six-rows {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
}

#side-container {
    margin-left: 3%;
}

#quote-box {
    font-family: var(--Athiti);
    margin-top: 40px;
    font-size:x-large;
}

#notes {
    height: 730px;
}

h2 {
    font-family: var(--Oleo);
}

#note-items {
    font-family: var(--Athiti);
    color: var(--dark);
    font-size: 1.4rem;
}

#legend {
    font-family: var(--Athiti);
    margin-top: 20px;
}

#holidays {
    color: var(--holidays);
}

#birthdays {
    color: var(--birthdays);
}

#personal {
    color: var(--personal)
}

#work {
    color: var(--work)
}

#school {
    color: var(--school)
}

#other {
    color: var(--other)
}

#addEvent {
    position: absolute;
    background-color: white;
    border: 5px solid var(--dark);
    margin-top: 160px;
    margin-left: 18%;
    padding: 1%;
    /* margin: 60px; */
    width: 25%;
}

.form {
    font-family: var(--Athiti);
    color: var(--dark);
    font-weight: bold;

}

#eventTitle {
    border-color: var(--maybe);
    border-radius: 8px;
}

input[type='radio'] {
    accent-color: var(--maybe);
}

#bday:hover {
    color: var(--maybe2);
}

#holi:hover {
    color: var(--maybe2);
}

#person:hover {
    color: var(--maybe2);
}

#workLabel:hover {
    color: var(--maybe2);
}

#schoolLabel:hover {
    color: var(--maybe2);
}

#otherLabel:hover {
    color: var(--maybe2);
}

#startDate {
    border-color: var(--maybe);
    border-radius: 8px;
}

#endDate {
    border-color: var(--maybe);
    border-radius: 8px;
}

.btnTwo {
    border: 2px solid var(--maybe);
    font-family: var(--Athiti);
}

.btnTwo:hover {
    color: var(--maybe2);
}


#short-day-names {
    display: none;
}

/* tablets */
@media screen and (max-width: 992px) {
    #main-contents {
        display: flex;
        flex-wrap: wrap;
    }

    #calendar-container {
        width: 100%;
        height: 50%;
        margin: 0%;
    }

    #addEvent {
        margin-left: 38%;
        margin-top: 150px;
        min-width: 220px;
    }

    #side-container {
        width: 100%;
        margin: 0%;
    }

    #quote-box {
        margin-top: 20PX;
        font-size: large;
    }

    #notes {
        height: 60%;
        max-height: 400px;
    }

    #legend {
        margin-top: 5%;
        /* width: 100%; */

    }

    #legend li {
        padding: 3%;
        font-size: large;
    }

}

/* large phones */
@media screen and (max-width: 768px) {
    #navbar {
        width: 100%;
    }
    
    #calendar-container {
        width: 100%;
        height: 70%;
    }

    #day-names {
        display: none;
    }

    #short-day-names {
        display: block;
        font-family: var(--Athiti);
    }

    #short-names-list {
        display: inline-block;
    }

    #addEvent {
        margin-left: 35%;
        margin-top: 150px;
        min-width: 220px;
    }

    #side-container {
         width: 100%;
    }

    #quote-box {
        margin: 0;
        font-size: medium;
    }

    #legend {
        margin-top: 150px;
        display: flex;
        justify-content: space-around;
        padding: 2%;
    }

    #legend li {
        padding: 3%;
    }

}

/* small phones */
@media screen and (max-width: 576px) {
    #navbar {
        width: 100%;
    }
}