nav {
    font-family: 'Oleo Script', cursive;
}
#month {
    font-family: 'Oleo Script', cursive;
}

#day-names {
    font-family: 'Athiti', sans-serif;
}

#quote-box {
    font-family: 'Athiti', sans-serif;
}

h2 {
    font-family: 'Oleo Script', cursive;
}

#note-items {
    font-family: 'Athiti', sans-serif;
}

#legend {
    font-family: 'Athiti', sans-serif;
    /* font-family: 'Oleo Script', cursive; */

}

#holidays {
    color: #99b898;
}

#birthdays {
    color: #f8b195
}

#work {
    color: #457892
}

#school {
    color: #f7aa00;
}

#personal {
    color: #7a42ac
}

#other {
    color: #a70013; 
}
