:root {
    --Athiti: 'Athiti', sans-serif;
    --Oleo: 'Oleo Script', cursive;
    --holidays: #99b898;
    --birthdays: #f8b195;
    --personal: #7a42ac;
    --work: #457892;
    --school: #f7aa00;
    --other: #a70013;
    --maybe: #5c5470;
    --maybe2: #a2a8d3;
    --dark: #3a3a3d;
}

nav {
    font-family: var(--Oleo);
}

body {
    background-color: var(--dark);
}

#hungry {
    background-color: var(--maybe2);
    /* background-color: #ea8a8a; */
}

#month {
    font-family: var(--Oleo);
}

.btnOne:hover {
    color: var(--maybe2);
}

#currentDay {
    background-color: var(--maybe);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 25%;
    min-width: 35px; 
    border-radius: 20px;

}

#currentDay:hover {
    color: var(--maybe2);
}

#day-names {
    font-family: var(--Athiti);
}

.six-rows {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
}

#quote-box {
    font-family: var(--Athiti);
}

h2 {
    font-family: var(--Oleo);
}

#note-items {
    font-family: var(--Athiti);
}

#legend {
    font-family: var(--Athiti);
}

#holidays {
    color: var(--holidays);
}

#birthdays {
    color: var(--birthdays);
}

#personal {
    color: var(--personal)
}

#work {
    color: var(--work)
}

#school {
    color: var(--school)
}

#other {
    color: var(--other)
}

.eventPopup {
    position: fixed;
    background-color: white;
    border: 5px solid var(--dark);
    margin-top: 10%;
    margin-left: 20%;
    padding: 1%;
    /* margin: 60px; */
    /* width: 50%; */
}

.form {
    font-family: var(--Athiti);
    color: var(--dark);
    font-weight: bold;
    
}

#eventTitle {
    border-color: var(--maybe);
    border-radius: 8px;
}

input[type='radio'] {
    accent-color: var(--maybe);
}

#bday:hover {
    color: var(--maybe2);
}

#holi:hover {
    color: var(--maybe2);
}

#person:hover {
    color: var(--maybe2);
}

#workLabel:hover {
    color: var(--maybe2);
}

#schoolLabel:hover {
    color: var(--maybe2);
}

#otherLabel:hover {
    color: var(--maybe2);
}

#startDate {
    border-color: var(--maybe);
    border-radius: 8px;
}

#endDate {
    border-color: var(--maybe);
    border-radius: 8px;
}


.btnTwo {
    border: 2px solid var(--maybe);
    font-family: var(--Athiti);
}

.btnTwo:hover {
    color: var(--maybe2);
}